body {
    height: 100vh;
  margin: 0;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
    
}

.header{
    display: flex;
    padding-left: 100px;
}

.flex_control {
    flex: 1;
    display:flex;
    
}

.image_section {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.image_row {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.image_column {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 200px;
}

.dark_background {
    background-color: #1F2937;
}

.quote {
    background-color: #E5E7eb;
}

.images {
    width: 200px;
    height: 200px;
    border: #3882f6;
    border-width: 10px;
}