body {
    height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
    
}

.header{
    display: flex;
}

.flex_control {
    flex: 1;
    display:flex;
    
}

.image_section {
    flex-direction: column;
}

.dark_background {
    background-color: #1F2937;
}

.quote {
    background-color: #E5E7eb;
}

.images {
    width: 200px;
    height: 200px;
}